* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	//phone = max600px
	//tab-port = max900px
	//tab-land	= max1200px
	//big-desktop = min1800px

	@media (min-width: 1800px) {
	}

	@media (max-width: 1200px) {
		font-size: 60%;
	}

	@media (max-width: 900px) {
		font-size: 50%;
	}
	@media (max-width: 600px) {
		font-size: 35%;
	}
	@media (max-width: 400px) {
		font-size: 25%;
	}
}
.container {
	width: 100vw;
	height: 100vh;
	background-color: #ff3cac;
	background-image: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);

	display: flex;
	flex-direction: column;
	position: relative;
}

.heading-primary {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 10rem;
	color: #fcc419;
	text-align: center;
	line-height: 1;
	padding-top: 6rem;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.button-container {
	margin: 0 auto;
	margin-top: 4rem;
	display: flex;
	justify-content: center;
	width: 100%;
}

.text-input,
text-input:focus-visible {
	padding: 2rem;
	border-radius: 2rem;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	font-size: 2rem;
	font-family: 'Lato', sans-serif;
	width: 40%;
	border: none;
	outline-width: 0;
	text-align: center;
}

.download-button {
	background-image: none;
	border: none;
	font-family: 'Gloria Hallelujah', cursive;
	text-transform: uppercase;
	padding: 1rem;
	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
	cursor: pointer;
	background-color: #fcc419;
	color: #fff;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 1.6rem;
	transition: all 0.2s;

	&:active {
		background-color: #fab005;
	}
}

.footer {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-size: 1.2rem;

	&__link:link,
	&__link:visited {
		color: #fcc419;
		text-decoration: none;
	}
	&__link:hover,
	&__link:active {
		text-decoration: underline;
	}
}
