<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>My website</title>
	</head>
	<body>
		<input type="text" class="text__input" />
		<button class="download__button">Download as MP3</button>
		<script>
			const dlButton = document.querySelector('.download__button');
			const textInput = document.querySelector('.text__input');
			dlButton.addEventListener('click', () => {
				const encoded = encodeURIComponent(textInput.value);

				location.href = `/download/${encoded}`;
			});
		</script>
	</body>
</html>
